.outer-container {
    display: flex;

    width: 100%;
    height: calc(100vh - 70px); /* viewport size - footer size */
}

/* header */
header {
    width: 150px; 

    font-size: 10px;
    font-weight: bold;
    color: #777777;
    background-color: black;
}

header .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 100%;
    padding: 15px 0;
}

header .logo,
header a,
header h3 {
    padding-left: 15px;
}

header .container .header-top .logo #logo-desktop {
    width: 70%;
    padding-bottom: 15px;
    cursor: pointer;
} 

header .container .header-top .logo .navbar-small {
    display: none;
} 

header .container .header-top nav {
    padding-bottom: 20px;
}

header .container .header-top  {
    overflow: hidden;
}

header .container .header-top .playlist h3 {
    color: white;
    padding-bottom: 10px;
}

header .container .header-top nav ul,
header .container .header-top .playlist ul{
    display: flex;
    flex-direction: column;
    gap: .8em;
}

header .container .header-top .playlist ul li .playlist-create i{
    font-size: 2.5em;
    color: #a3a3a3;
}

header .container .header-top nav ul li .nav-row a,
header .container .header-top .playlist ul li .playlist-create a,
header .container .header-bottom .bottom a {
    display: flex;
    align-items: center;
    gap: 5px;
}

header .container .header-top nav ul li .nav-row {
    display:flex;
}

header .container .header-top nav ul li .nav-row .green-bar {
    width: 2px;
    height: 14px;
    background-color: transparent;
}

header .container .header-top nav ul li .nav-row .active {
    background-color: #baff30;
}

header .container .header-top nav ul li .nav-row a img,
header .container .header-bottom .bottom a img {
    width: 1.4em;
    filter: invert(50%);
} 

header .container .header-bottom {
    padding: 0 15px;
}

header .container .header-bottom .bottom a {
    padding-left: 0;
}

header .container .header-bottom .download {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #777777
}

header .container .header-bottom .user a img {
    width: 2em;
    height: 2em;
    border-radius: 50%;

    filter: invert(0%);
    background-color: #808080;
}

/* hover */ 
header .container a:hover,
header .container .header-top .playlist ul li .playlist-create a:hover i {
    color:white;
}

header .container .header-top nav ul li .nav-row a:hover img,
header .container .header-bottom .download a:hover img {
    filter: invert(0%);
}

/* active */
header .container .header-top nav ul li .nav-row:active .green-bar {
    background-color: #baff30;
}
/* /header */

/* main */
main {
     width: calc(100% - 150px); /* viewport size - header size */
    
    background-color: #141922;
    overflow-y: scroll; 
}

/* main section upgrade button */
main section.container-upgrade {
    position: fixed;
    top: 0;
    right:0;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    padding: 15px 30px;
    width: calc(100% - 150px); /* viewport size - header size */ 

    background-color: rgba(0, 0, 0, .4);
}

main section.container-upgrade button#upgrade-btn {
    padding: 8px 40px;
    border-radius: 25px;

    font-size: 11px;
    color: white;
    background-color: black; 
    border: 2px solid white;
    cursor: pointer;
}

/* hover */
main section.container-upgrade button#upgrade-btn:hover{
    transform: scale(1.1);
}
/* / main section upgrade button */

/* main navbar */
main nav {
    padding: 80px 0 10px;
    font-size: 12px;
    color: #777777;
}

main nav ul {
    display: flex;
    justify-content: center;
    gap: 15px;
}

main nav ul li.nav-opt {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

main nav ul li.nav-opt .underline {
    margin-top: 2px;
    height: 1.5px;
    width: 25px;
    background-color: transparent;
}

main nav ul li.nav-opt .active {
    background-color: #baff30;
}

/* hover */
main nav ul li.nav-opt:hover {
    color: white;
}
/* active */
main nav ul li.nav-opt:active .underline {
    background-color: #baff30;
}
/* /main navbar */

/* main music sections  */
main .music {
    padding: 20px;
    color: white;
}

main .recently-played h2 {
    font-size: 1.2em;
    padding-bottom: 25px;
}

main .for-you h2,
main .popular h2 {
    font-size: 1.2em;
    padding-bottom: 10px; 
}

main .music .subtitle-up {
    padding-bottom: 20px;
}

main .music .card-container {
    display: flex;
    gap: 15px;
}

main .music .card-container .card {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    width: calc(100% / 6);
}

main .music .card-container .card .card-img img {
    width: 100%;
}

main .music .card-container .card .card-txt h4{
    font-size: .7em;
    padding: 10px 0 5px;
}

main .music .subtitle-up,
main .music .card-container .card .card-txt .subtitle {
    font-size: .6em;
    color: #777777;
    font-weight: bold;
}

/* hover effect on song cards */
.card-img {
    position: relative;
}

.play-effect{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    font-size: 2.5em;
    background-color: rgba(0, 0, 0, .4);

    display: none;
}

.card:hover .play-effect {
    display: flex;
}

.card:hover {
    cursor: pointer;
}
/* /main music sections  */

/* footer */
footer {
    display: flex;
    justify-content: space-between;

    height: 70px;
    
    background-color: #2d2d2d;
}

footer .footer-left,
footer .footer-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    
    padding: 15px 10px;

    max-width: 180px;
    width: 100%;
    height: 100%;
}

footer .footer-left .song-card {
    display: flex;
    align-items: center;
    gap: 8px;

    height: 100%;
}

footer .footer-left .song-card img{
    height: 100%;
}

footer .footer-left .song-card .song-info {
    display: flex;
    flex-flow: column;
}

footer .footer-left .song-card .song-info #song-author{
    font-size: .7em;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

footer .footer-left .song-card .song-info #song-name{
    font-size: .6em;
    font-weight: bold;
    color:#777777;
    cursor: pointer;
}

footer .footer-left .song-icons {
    display: flex;
    gap: 10px;

    font-size: .8em;
    color: #777777;
    cursor: pointer;
}

footer .footer-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;

    max-width: 500px;
    width: 100%;
    height: 100%;

    color: white;
}

footer .footer-center .footer-center-top {
    display: flex;
    align-items: center;
    gap: 20px;
}

footer .footer-center .footer-center-top i#play {
    font-size: 1.5em;
}

footer .footer-center .footer-center-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    width: 100%;
    font-size: .6em;
}

footer .footer-center .footer-center-bottom .song-lifespan-bar,
footer .footer-right .volume-bar {
    height: 4px;
    border-radius: 2px;

    background-color: #777777;
}

footer .footer-center .footer-center-bottom .song-lifespan-bar {
    width: 100%;
}

footer .footer-center .footer-center-bottom .song-lifespan-bar .ongoing-song-bar,
footer .footer-right .volume-bar .volume-set {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    
    height: 4px;
    border-radius: 2px;

    background-color: #c1c1c1;

    transition: .3s;
}

footer .footer-center .footer-center-bottom .song-lifespan-bar .ongoing-song-bar{
    width: 20%;
}

footer .footer-center .footer-center-bottom .song-lifespan-bar .ongoing-song-bar i,
footer .footer-right .volume-bar .volume-set i {
    display: none;
}

footer .footer-right {
    font-size: .6em;
    color: white;    
}

footer .footer-right .options-icons {
    display: flex;
    justify-content: space-between;
    max-width: 60px;
    width: 100%;
}

footer .footer-right .options-icons i{
    cursor: pointer;
}

footer .footer-right .volume-bar {
    width: 100%;
    min-width: 60%;
}

footer .footer-right .volume-bar .volume-set {
    width: 40%;
}

/* hover */
footer .footer-left .song-card .song-info #song-name:hover { 
    color: white;
    text-decoration: underline;
}

footer .footer-left .song-icons i:hover{
    color: white;
}

footer .footer-center .footer-center-top i:hover{
    cursor: pointer;
}

footer .footer-center .footer-center-top i#play:hover{
    transform: scale(1.1);
}

footer .footer-center .footer-center-bottom .song-lifespan-bar:hover,
footer .footer-right .volume-bar:hover {
    cursor: pointer;
}

footer .footer-center .footer-center-bottom .song-lifespan-bar:hover .ongoing-song-bar,
footer .footer-right .volume-bar:hover .volume-set {
    background-color: #baff30;
}

footer .footer-center .footer-center-bottom .song-lifespan-bar:hover i,
footer .footer-right .volume-bar:hover i {
    display: block;
}
/* /footer */

/* RESPONSIVE */
@media screen and (max-width: 1024px) {

    main nav ul,
    main .music .card-container,
    footer .footer-left .song-icons {
        flex-wrap: wrap;
    }

    main .music .card-container .card {
        width: calc(100% / 4 - (15px / 4 * 3));
    }
} 

@media screen and (max-width: 768px) {

    main .music .card-container .card {
        width: calc(100% / 2 - (15px / 2 * 1));
    }

    footer {
        gap: 10px;
    }

    footer .footer-left .song-icons {
        flex-direction: column;
        gap: 5px;
    }
} 

@media screen and (max-width: 576px) {

    header {
        width: 40px;
    }

    header .container {
        padding: 5px 10px;
    }

    header .logo{
        padding: 0;
    }

    header .container .header-top,
    header .container .header-top .logo,
    header .container .header-top .logo .navbar-small {
        height: 100%;
    }

    header .container .header-top .logo .navbar-small {
        display: block;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    header .container .header-top .logo .navbar-small div{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    header .container .header-top .logo .navbar-small div:nth-child(2){
        gap: 20px;
    }

    header .container .header-top .logo #logo-desktop,
    header .container .header-top nav,
    header .container .header-top .playlist,
    header .container .header-bottom{
        display: none;
    }

    header .container .header-top .logo .navbar-small img.navbar-small-img {
    width: 1.8em;
    filter: invert(50%);
    } 
    
    header .container .header-top .logo .navbar-small img#user-pic {
    width: 2em;
    height: 2em; 
    border-radius: 50%;

    filter: invert(0%);
    background-color: #808080;
    }

    main,
    main section.container-upgrade {
        width: calc(100% - 40px); /* viewport size - header size */
    }

    footer .footer-right .options-icons {
        gap: 2px;
    }
} 







